#header_wrap {
  background-color: #111;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
header nav {
  display: flex;
  align-items: center;
  height: 100%;
}
header nav div {
  margin-right: 20px;
  cursor: pointer;
  padding: 10px 20px;
}

#user strong {
  font-weight: bold;
  color: #fff;
}
#user span {
  font-weight: 300;
  font-size: 14px;
  color: #fff;
}
